* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

html,body {
  height: 100%;
  width: 100%; 
  background-color: #e9e3d5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-height: 6rem;
  background-color: #5A9AF5;
  /* border: red solid 2px; */
}

.logo a {
  font-size: 2.5rem;
  /* padding: 2rem; */
}

nav ul  {
  display: flex;
  align-self: stretch;
  /* border: yellow solid 2px; */
}

nav ul li {
  list-style-type: none;
  display: flex; 
  align-items: center;
}

nav ul li:hover {
  background-color: #06106c;
  transition: background-color.3s ease;
}

nav ul li a {
  display:block;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #6f86ff;
  transition: .3s ease;
}

a {
  text-decoration: none;
  color: #e9e3d5;
  padding: 2rem;
}

/* Hamburger menu icon created from vanilla css */

.ham-menu {
  height: 45px;
  width: 45px;
  /* margin-left: auto; */
  position: relative;
  display: none;
  margin: 2rem;
}

.ham-menu:hover {
  cursor: pointer;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #6f86ff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(2) {
  top: 50%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#blue {
  background-color: #405782;
}

#red {
  background-color: #7891b8;
}

#yellow {
  background-color: #9ecacf;
}

@media (max-width: 1024px) {
  nav {
    padding: 2rem 0;
  }

  nav ul {
    position: absolute;
    top: 6rem;
    width: 100%;
    height: 0; /*Initial max-height set to 0*/
    overflow: hidden; /*Hides overflowing content*/
    transition: height .5s ease, opacity .3s ease, padding .5s ease; /* Smooth transition for height */
    flex-direction: column;
    text-align: center;
    background-color: #0e41db;
    opacity: 0; /* Start as invisible */
  }

  .nav-links.active {
    /* display: flex; */
    height: 420px;
    opacity: 1;
  }

  .ham-menu {
    display: block;
  }
}